html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Lato;
    src: url(https://zack3dprints.com/font/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoB;
    src: url(https://zack3dprints.com/font/Lato-Bold.ttf);
}

@font-face {
    font-family: Simp;
    src: url(https://zack3dprints.com/font/SIMPLIFICA.ttf)
}

h1 {
    background-image: url("headerbg.gif");
    background-size: pattern;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:64px;
    font-weight: bold;
    font-family: Lato
}

h2 {
    color: #FFFFFF;
    font-family: Lato
}

p {
    color: #FFFFFF;
    font-family: Lato
}

.section {
    background: #1E1E1E;
    text-align: center;
    border-radius: 16px;
    padding: 10px;
    margin: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow:  5px 5px 8px #0e0e0e, -5px -5px 8px #171717;
}

.hline {
    border-color: #1E1E1E;
    margin-left: 15%;
    margin-right: 15%;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }