html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-color:#252525;

    background-image: url("bgdots2.png");
    background-repeat: repeat;
}

body{
    background-color: transparent;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter.ttf') format('truetype');
}

*
{
	font-family: 'Inter';
	font-weight: 250;
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
    background-image: url("headerbg.gif");
    background-size: pattern;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:64px;
    font-weight: bold;
}

h2 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

label{
    color: #FFFFFF;
    margin: 16px;
}

input{
    border-radius: 8px;
    border-width: 0px;
    padding: 8px;
    box-shadow: none;
    color: #ffffff;
    background-color: #121212;
}

textarea{
    border-radius: 8px;
    border-width: 0px;
    padding: 8px;
    box-shadow: none;
    color: #ffffff;
    background-color: #121212;
}

.textareapaper{
    border-radius: 8px;
    border-width: 0px;
    padding: 8px;
    box-shadow: none;
    color: #362f2f;
    background-color: #ececec;
    background-image: url("/projects/print/paperbgtrans2.png");
    font-size: x-large;
    font-weight: 500;
}

.spaninput{
    border-radius: 8px;
    border-width: 0px;
    padding: 8px;
    box-shadow: none;
    color: #ffffff;
    background-color: #121212;
}


select{
    border-width: 0px;
    padding: 8px;
    box-shadow: none;
    color: #ffffff;
    background-color: #121212;
    border-radius: 8px;
}

.section {
    background: #1E1E1E;
    text-align: center;
    border-radius: 16px;
    padding: 10px;
    margin: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow:  5px 5px 8px #0e0e0e;
}

.section-anim {
    animation-name: zoom3;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
}

.flexbox {
    display: flex;
    margin: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 16px;
}

.flexsection {
    background: #1E1E1E;
    text-align: center;
    border-radius: 16px;
    box-shadow:  5px 5px 8px #0e0e0e;
    transform-origin: 50% 0% 0px;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.btn{
    border-radius: 8px;
}

.rounded{
    box-shadow:  5px 5px 8px #1A1A1A;
}


.hline {
    border-color: #1E1E1E;
    margin-left: 15%;
    margin-right: 15%;
}


.margin {
    margin: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.margincenter {
    margin: 25%;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (max-aspect-ratio: 1) {
    .section{
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .flexbox {
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .margin {
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .margincenter {
        margin: 0%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    table {
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    *
    {
        font-size: larger;
    }

}